<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>

    <h2>Список экзаменов</h2>
    <ul>
        {% for exam in exams %}
        <li>
            <strong>Название:</strong> {{ exam.title }}<br>
            <strong>Дата создания:</strong> {{ exam.created_at|date:"d.m.Y H:i" }}<br>
            <strong>Дата экзамена:</strong> {{ exam.exam_date|date:"d.m.Y H:i" }}<br>
            <strong>Пользователи:</strong>
            {% for user in exam.users.all %}
                {{ user.username }}{% if not forloop.last %}, {% endif %}
            {% endfor %}<br>
            <strong>Статус:</strong> {{ exam.is_public|yesno:"Опубликован,Не опубликован" }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>